<h2>{{ company.name }} Details</h2>
<h4>Category : <span class="text-warning">{{ company.category }}</span></h4>
<h5>Active period: <span class="text-warning"> {{ company.start }} - {{ company.end }} </span> </h5>
<p class="my-3"><span class="text-warning">{{ company.name }}</span> is lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore blanditiis molestias nam obcaecati velit soluta mollitia non, veritatis ad vero.</p>
<button class="btn btn-outline-warning my-3" (click)="goBack()">go back</button>